
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}


a{
  text-decoration: none;
  display: block;
}
h1,p,h2{
  margin: 0;
}
.btn{
  border: none;
  outline:none;
  border-radius:6px;
  padding:.5rem 1rem;
  font-size:1.2rem;
  font-weight: 700;
  display:inline-block;
}
.btn-save{
  background-color:lightgreen;
  color: blueviolet;
}
.btn-delete{
  background-color: red;
  color: white;
}
ul{
  list-style: none;
}
header{
  padding: 1em;
  background-color: darkblue;
  color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
nav ul{
  display: flex;
  justify-content: space-around;
  gap: 1rem;

}
nav ul li a{
  color:greenyellow;
  font-size:1.4rem;
  font-weight: bold;


}
.todos{
  width: 100%;
  display:grid;
  padding:2em;
  max-width:960px;
  margin: 0 auto;
  gap:.7rem;
}
.todos>a{
  background-color: aquamarine;
  padding:1rem;
  border-radius:6px;
  color:black;
 width: 100%;
 display: grid;
 gap:.5rem;



}
.todo{
   background-color: aquamarine;
  padding:1rem;
  border-radius:6px;
  color:black;
 width: 100%;
 display: grid;
 gap:.5rem;
 margin:5px auto;
 max-width:500px;
 margin-top:2em;

}
.todo:hover{
  background-color: azure;
  box-shadow:0 0 10px black;
  transition: .5s; 
}
.todos>a:hover{
  background-color: azure;
  box-shadow:0 0 10px black;
  transition: .5s;
}
.actions{
  display: flex;
  gap: .5rem;
  max-width:500px;
  margin:0 auto;
}
.form {
  display: grid;
  padding: 1em;
  gap:1em;
  margin: 0 auto;
  max-width:400px;
  margin-top:2em;
  

}
label{
  display: block;
  font-size:1.3rem;
  font-weight:500;
  margin-bottom:10px;
}
input{
  outline:none;
  padding:.5rem 1rem;
  width: 100%;

}